.about_description{
    color: var(--textColor);
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: justify;
    padding: 1em;
}

@media only screen and (min-width: 960px) {
    .about_box{
        overflow-y: auto;
    }
}

